
.app {
  background: url('./img/fatherofthree.jpg') no-repeat;
  background-size: 100%;
  height: 900px;

}

.app .head {
  display: flex;
  justify-content: space-between;
}

.head h1 {
  font-size: 3rem; 
  padding:15px 0 0 15px;
  margin: 0;

}

.app .nav {
  display: flex;
  justify-content: space-between;
  
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 15px;
  font-size: 2rem;
}
.nav button {
  margin: 15px;
  font-size: 1.4rem;
  padding: 0 20px;
}